@model SchoolManagementApp.MVC.Data.SchoolClass

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center mb-3 text-decoration-underline text-primary">Edit Class</h1>

<hr />
<div class="row">
    <div class="col-md-4 fw-bold">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="LectureId" class="control-label"></label>
                <select asp-for="LectureId" class="form-control" asp-items="ViewBag.LectureId"></select>
                <span asp-validation-for="LectureId" class="text-danger"></span>
            </div>
            <hr/>
            <div class="form-group">
                <label asp-for="CourseId" class="control-label"></label>
                <select asp-for="CourseId" class="form-control" asp-items="ViewBag.CourseId"></select>
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>
            <hr/>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <hr/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-dark" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
